
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --fuenteHeading: 'PT Sans', sans-serif;
  --fuenteParrafos: 'Open Sans', sans-serif;
  --clr-main: #c56cee;
  --clr-main-light: #efdaf9;
  
  --primario:#784D3C;
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #e1e1e1;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px */
}

*, *:before, *:after{
  box-sizing: inherit;
}

body{
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 2;
}


/** GLOBALES **/

.contenedor{
  width: min(90%,120rem);
  margin: 0 auto;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4{
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}

h1{
  font-size: 4.8rem;
}

h2{
  font-size: 4rem;
}

h3{
  font-size: 3.2rem;
}
h4{
  font-size: 2.8rem;
}

img{
  max-width: 100%;
}

/* UTILIDADES */

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}

.centrar-texto{
  text-align: center;
}

h3.centrar-texto {
  padding: 2rem;
}


.header{
  background-image: url(../src/img/services.webp);
  height: 60rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
}

.header__texto{
  text-align: center;
  color: var(--blanco);
  margin-top: 5rem;
  
}

@media (min-width: 768px) {
  .header__texto{
      margin-top: 15rem;
  }
}
.barra{
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .barra{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}
.logo{
  color: var(--blanco);
  
}

.logo__nombre{
  font-weight: 400;
}

.logo__bold{
  font-weight: 700;
}

@media (min-width: 768px) {
  .navegacion{
      display: flex;
      gap: 2rem;
  }    
}

.navegacion__enlace{
  display: block;
  text-align: center;
  font-size: 1.8rem;
  color: rgb(125, 124, 124);


}



@media (min-width: 768px) {
  .contenido-principal{
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 4rem;
  }
}



/** SOBRE NOSOTROS **/
@media (min-width: 768px) {
  .sobre-nosotros{
      padding-top: 5rem;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      column-gap: 2rem;
  }

  .sobre-nosotros__parrafo{
      margin: 0;
  }
  
}
/* ----------------------------------------------------- */

/* FOOTER */
.footer{
  background-color: var(--negro);
  padding-bottom: 3rem;
  margin-top: 4rem;
}

/* ----------------------------------------------------- */

/** FORMULARIO **/

.formulario{
  background-color: var(--blanco);
  margin: -5rem auto 0 auto;
  width: 95%;
  padding: 5rem;
}

.campo{
  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
  
}
.campo__label{
  flex: 0 0 9rem;
  text-align: right;
  width: 95%;
}

.campo__field{
  flex: 1;
  border: 1px solid var(--gris);
}

.campo__field--textarea{
  height: 20rem;
}

/** CONTACTO **/
.contacto-bg{
  background-image: url(../src/img/services6.jpg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ----------------------------------------------------- */


/*BOTON*/
.boton{
  display: block;
  font-family: var(--fuenteHeading);
  color: var(--blanco);
  text-align: center;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2rem;
  border: none;
}


@media (min-width: 768px) {
  .boton{
      display:inline-block;
  }
}

.boton:hover{
  cursor: pointer;
}

.boton--primario{
  background-color: var(--negro);
}

.boton--secundario{
  background-color: var(--primario);
}



/*---------------INDEX SERVICIOS---------------------*/


/** CURSOS **/
.curso{
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris);
}

@media (min-width: 768px) {
  .curso{
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
  }
}

.curso:last-of-type{
  border: none;
}

.curso__label{
  font-family: var(--fuenteHeading);
  font-weight: bold;
}

.curso__info{
  font-weight: 400;

}

.curso__label,
.curso__info{
  font-size: 2rem;
}


.container {
  max-width: 1140px;
  padding-inline: 1.5rem;
  margin: 0 auto;
}

.main-title {
  margin-top: 2rem;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-block: 2rem;
}

.servicio {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  overflow: hidden;
}


.servicio > div {
  padding: 1rem;
  background-color: var(--clr-main-light);
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.servicio > img {
  width: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
}

.servicio .ver-mas {
  text-decoration: none;
  background-color: grey;
  color: white;
  padding: .5rem;
  width: max-content;
  border-radius: .5rem;
  transition: .2s;
}

.servicio .ver-mas:hover {
  background-color: black;
  color: white;

}

.servicio-detalle {
  padding-block: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.servicio-detalle img {
  width: 100%;
}

.servicio-detalle-info h3 {
  font-size: 2rem;
}


.formulario {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: flex-start;
}

.formulario input {
  padding: .5rem;
  width: 100rem;
  border-radius: .5rem;
  border: 2px solid black;
}

.formulario input:focus {
  outline: 0;
  border: 2px solid black;
  outline: 2px solid black;
}


/** Usuario  (formulario de registo y logueo)**/ 
form{
  display: flex;
  flex-direction: column;
  background: #ffffff;
  text-align: left;
  padding: 40px 40px;
  border-color : darkblue;
}


form div label{
  color: #000000;
  text-align: left;
  font-size: 16px;
  padding: 0px 10px ;
}

form div input {
  outline: none;
  border: none;
  color: #000000;
  border-bottom: solid 1px #000000;
  padding: 10px 15px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

form div input::placeholder{
  color : rgba(37, 37, 37, 8.5);
}

form button{
  color: #ffffff;
  border: none;
  background-color: dodgerblue;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
}

form .title{
  display: flex;
  flex-direction: column;
  color: skyblue;
  font-size: 30px;
  text-align: center;
}

p .link{
  color: rgb(0, 157, 205);
  padding: 0px 25px;
  font-size: 15px;
}

form div a{
  color: rgb(0, 157, 205);
  padding: 0px 15px;
  font-size: 15px;
  text-align: right;
}
.loginGoogle{
  color: #df3333;
  border: 2px #000000;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  cursor: pointer;
  font-size: 20px;
  text-align: center center;
}

/**Usuario.jsx**/
form{
  display: flex;
  flex-direction: column;
  background:none;
  text-align: left;
  padding: 40px 40px;
  border-color : darkblue;
}

form input{
  outline: none;
  border: none;
  color: #000000;
  border-bottom: solid 1px #000000;
  padding: 15px 15px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 3px;
  border-radius: 10px;
}
form input::placeholder{
  color :rgb(125, 124, 124);
}

.agregar{
  color: #ffffff;
  border: 2px inset ;
  background-color: dodgerblue;
  padding: 15px 15px;
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
  position:relative;
  width: 30%;
  margin-left: 35%;
  border-radius: 5px;
}
/**agregue un boton cancelar(por las dudas)**/
.butt_cancelar{
  position: relative;
  color: #df3333;
  border: 3px inset #000000;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  padding: 15px 15px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  width: 30%;
  border-radius: 5px;
}

.main-title{
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 50px;
  text-align: center;
  text-decoration: double;
}

.servicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}



/*Editar Perfil*/ /*Agregar de classname = "EditarPerfil" al form que esta en el jsx*/
.EditarPerfil{
  display: flex;
  flex-direction: column;
  background: #504e4e;
  text-align: center;
  padding: 40px 40px;
  border-color : darkblue;
  
}

.EditarPerfil label{
  display: flex;
  flex-direction: column;
  color: rgb(247, 247, 247);
  font-size: 30px;
  text-align: center;
}

.EditarPerfil label input{ 
  border:none ;
  color: #000000;
  border-bottom: solid 1px #000000;
  padding: 15px 15px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3px;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

.EditarPerfil button{
  color: #ffffff;
  border: 2px inset ;
  background-color: rgb(20, 22, 24);
  padding: 15px 15px;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center;
  width: 20%;
  margin-left: 50%;
  border-radius: 5px;
}


.MisServicios {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.MisServicios img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.MisServicios h2 {
  font-size: 20px;
  margin-top: 10px;
}

.MisServicios p {
  font-size: 16px;
  margin-bottom: 10px;
}

.boton-serv {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}



/*Editar Servicio*/ /*Agregar de classname = ".EditarServicio" al form que esta en el jsx*/
.EditarServicio{
  display: flex;
  flex-direction: column;
  background: #504e4e;
  text-align: center;
  padding: 40px 40px;
  border-color : darkblue;
  
}

.EditarServicio label{
  display: flex;
  flex-direction: column;
  color: rgb(247, 247, 247);
  font-size: 30px;
  text-align: center;
}

.EditarServicio label input{ 
  border:none ;
  color: #000000;
  border-bottom: solid 1px #000000;
  padding: 15px 15px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3px;
  border-radius: 10px;
  margin-left: 30%;
  margin-right: 30%;
}

.EditarServicio button{
  color: #ffffff;
  border: 2px inset ;
  background-color: rgb(20, 22, 24);
  padding: 15px 15px;
  font-size: 20px;
  margin-right: 20px;
  margin-top: 15px;
  text-align: center;
  width: 20%;
  margin-left: 50%;
  border-radius: 5px;
}



/*Servicios Contratados*/

.ServiciosContratados {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.ServiciosContratados img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ServiciosContratados h2 {
  font-size: 20px;
  margin-top: 10px;
}

.ServiciosContratados p {
  font-size: 16px;
  margin-bottom: 10px;
}

.ServiciosContratados button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}



/*Favoritos*/

.Favoritos {
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.Favoritos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Favoritos h2 {
  font-size: 20px;
  margin-top: 10px;
}

.Favoritos p {
  font-size: 16px;
  margin-bottom: 10px;
}

.Favoritos button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/*Service Rating*/

.service-rating {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.stars {
  margin: 10px 0;
}

.star {
  font-size: 24px;
  margin: 0 5px;
  cursor: pointer;
}

.star.selected {
  color: gold; /* Cambia el color de las estrellas seleccionadas */
}

.comment-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-button {
  background-color: #000102; /* Cambia el color del bot칩n */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3; /* Cambia el color al pasar el cursor por encima */
}

/*Boton contratar*/

.contratar-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contratar-button:hover {
  background-color: #333; /* Cambia el color al pasar el cursor por encima */
}


/*Boton Favoritos*/
.heart-icon {
  color: red; /* Cambia el color del coraz칩n */
  font-size: 24px; /* Ajusta el tama침o del coraz칩n */
  cursor: pointer;
}

.heart-icon:hover {
  color: #ff3333; /* Cambia el color al pasar el cursor por encima */
}


